/* Valores Predeterminados de la web */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/* Estilos Body */
body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Estilos Main */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}