/* Contenedor principal (caja blanca) */
.main-container {
    padding: 40px;
    max-width: 900px;
    width: 50%;
}

.form-wrapper {
    flex: 1; /* Ambos ocupan el mismo ancho */
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos de los inputs */
.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}


/* Estilos de los botones */
button {
    width: 100%;
    padding: 10px;
    background-color: #5d379f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

button:hover {
    background-color: #392d55;
}