/* Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra&display=swap');

* {
    font-family: "Alice", serif;
}

/* Estilos Header */
#header, #footer {
    display: flex;
    padding: 0.5rem 1rem;
    flex-direction: row;
    background-color: #392d55;
    color: azure;
    align-items: center;
}

#header {
    justify-content: space-between;
}

main {
    background-color: #7459a4;
    box-shadow: 0 0.8rem 1rem inset #392d55, 0 -0.8rem 1rem inset #392d55;
    color: azure;
    position: relative;
    z-index: -2; /* Coloca el pseudo-elemento detrás del contenido de main */
}

main::before {
    content: ""; /* Obligatorio para pseudo-elementos */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/resources/img/patron.png);
    background-repeat: repeat;
    background-size: calc(100vw/10);
    opacity: 0.2; /* ¡NUEVO! Ajusta la opacidad de la imagen de fondo */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido de main */
}

/* Estilos Loanding */
#loanding {
    display: flex;
    flex-direction: row;
}

#header_title {
    font-family: "Almendra", serif;
    font-size: 2rem;
    font-weight: 900;
    -webkit-text-stroke: 0.005rem #f68936;
    background: linear-gradient(180deg, #f68936, #924006);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.header_list {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0.5rem 0;
    gap: 0.8rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.header_list_element:hover {
    color: #f68936;
    text-shadow: 0 0 0.5rem black;
}

.rounded_item {
    border-radius: 2rem;
    font-size: 1rem;
    background-color: #924006;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: -webkit-fill-available;
}

.rounded_item:hover {
    background-color: #f68936;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.4);
}

.header_list_element {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    cursor: pointer;
}

.rounded_item p {
    gap: 0.2rem;
    display: flex;
    align-items: center;
    min-height: -webkit-fill-available;
}

#search_bar {
    background-color: azure;
    color: black;
}

#search_bar #buscador {
    border: none;
    background-color: azure;
    padding: 0.2rem;
    font-size: 1rem;
}

:focus-visible {
    outline: 0;
}
input:-internal-autofill-selected {
    background-color: azure !important;
}